<div class="products">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <a href="#" class="detail-product">
      <%= image_tag "http://mixi.lazisite.com/admin/resource/mixi/images/1510806894869_vong-tay-da-thach-anh-toc-do-vip-14ly.jpg",
        alt: "product_name", class: "main-avatar-product" %>
      <div class="name-product">
        <b>Vong tay thach anh co lon long lanh</b>
      </div>
    </a>
  </div>
</div>
