<header>
  <nav class="navbar navbar-inverse navbar-head">
    <div class="container">
      <ul class="nav navbar-nav navbar-left">

        <li class="basis">
          <h4><span class="glyphicon glyphicon-phone-alt"></span>  Hotline: 0967.894.867</h4>
        </li>
        <li class="basis">
          <h4> <span class="glyphicon glyphicon-ok"></span>  Da tu nhien 100%</h4>
        </li>
        <li class="basis">
          <h4> <span class="glyphicon glyphicon-dashboard"></span>  Bao hanh 6 thang</h4>
        </li>
        <li class="basis">
          <h4> <span class="glyphicon glyphicon-king"></span>  San pham duoc tri chu</h4>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="shopping-cart">
            <%= link_to do %>
              <span class="glyphicon glyphicon-shopping-cart"></span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-off"></span>
              Sign out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-user"></span>
              Sign up
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-user"></span>
              Log in
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
